deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki
  schemaConfig:
    configs:
      - from: "2025-01-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h
  storage:
    type: s3
    s3:
      region: ap-northeast-2
      s3ForcePathStyle: false

chunksCache:
  enabled: false
  allocatedMemory: 512

resultsCache:
  enabled: false
  allocatedMemory: 512

gateway:
  enabled: false

test:
  enabled: false

persistence:
  enabled: true
  size: "10Gi"

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false

lokiCanary:
  enabled: false
