server:
  persistentVolume:
    enabled: true
    size: "20Gi"
  retention: "15d"
  resources:
    requests:
      cpu: "200m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "2Gi"
  remoteWrite: []
  extraFlags:
    - "web.enable-remote-write-receiver"

alertmanager:
  enabled: false

kube-state-metrics:
  enabled: true

prometheus-node-exporter:
  enabled: true

prometheus-pushgateway:
  enabled: false

serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]
      - job_name: "redis-exporter"
        static_configs:
          - targets: ["redis-exporter.observability.svc.cluster.local:9121"]
