apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki
    targetRevision: 6.16.0
    helm:
      valueFiles:
        - values.yaml
      # Override values from k8s/observability/loki-values.yaml
      values: |
        deploymentMode: SingleBinary
        loki:
          auth_enabled: false
          commonConfig:
            replication_factor: 1
          schemaConfig:
            configs:
              - from: 2024-01-01
                store: tsdb
                object_store: s3
                schema: v13
                index:
                  prefix: index_
                  period: 24h
          storage:
            type: s3
            s3:
              bucketNames:
                chunks: "<LOKI_S3_BUCKET>"
                ruler: "<LOKI_S3_BUCKET>"
                admin: "<LOKI_S3_BUCKET>"
              region: "ap-northeast-2"
        singleBinary:
          replicas: 1
        serviceAccount:
          create: true
          name: loki
          annotations:
            eks.amazonaws.com/role-arn: "<LOKI_ROLE_ARN>"
        test:
          enabled: false
        monitoring:
          selfMonitoring:
            enabled: false
          lokiCanary:
            enabled: false
  
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
