apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-exporter
  namespace: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-exporter
  template:
    metadata:
      labels:
        app: redis-exporter
    spec:
      containers:
        - name: redis-exporter
          image: oliver006/redis_exporter:latest
          env:
            - name: REDIS_ADDR
              value: "redis://valkey-team3.2iapp0.ng.0001.apn2.cache.amazonaws.com:6379"
          ports:
            - containerPort: 9121

---
apiVersion: v1
kind: Service
metadata:
  name: redis-exporter-service
  namespace: observability
spec:
  ports:
    - port: 9121
      targetPort: 9121
  selector:
    app: redis-exporter
